@import "../Common.scss";

.LoginKim {
  @extend %flex-center;
  height: 100%;
  background-color: $common-background-color;

  div {
    position: relative;
    width: 700px;
    height: 760px;
    background-color: white;
    border: $common-border-style;
    border-radius: 10px;
  }

  h1 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
    font-size: 100px;
    font-family: "Lobster", cursive;
  }

  form {
    @extend %flex-center;
    flex-direction: column;
    width: 100%;

    .login-form-input,
    .login-form-button {
      width: 550px;
      height: 70px;
      border-radius: 10px;
      font-size: 20px;
      outline: none;
    }

    .login-form-input {
      margin-bottom: 12px;
      padding-left: 20px;
      background-color: $common-background-color;
      border: $common-border-style;
    }

    .login-form-button {
      margin-top: 20px;
      background-color: #c4e1fc;
      border: $common-border-style;
      border-width: 1px;
      font-size: 25px;
      color: white;
      cursor: pointer;
    }
  }

  section {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    text-decoration: none;
    color: #375185;
  }
}
