@import "../../../reset.scss";
.story-box {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  width: 614px;
  height: 118px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background: $normal-gray;
  }
}
