@import "../../../reset.scss";
.fixed-aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 295px;
  padding-top: 10px;

  button {
    background-color: transparent;
    border: none;
    color: #0395f6;
    font-size: 12px;
    font-weight: 600;
  }

  .current-user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    .user-info {
      display: flex;
      .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 58px;
        img {
          width: 56px;
          height: 56px;
          border-radius: 100%;
        }
      }
      .text-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
        .id {
          font-size: 14px;
          font-weight: 600;
        }
        .name {
          margin-top: 2px;
          color: $darker-gray;
          font-size: 13px;
        }
      }
    }
  }

  .recommend-box {
    margin-bottom: 30px;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      p {
        color: $darker-gray;
        font-size: 14px;
        font-weight: 600;
      }
      .show-all {
        color: black;
      }
    }
  }

  small {
    display: block;
    margin-bottom: 15px;
    color: $darker-gray;
    font-size: 11.5px;
    span {
      font-size: 11.5px;
      a {
        color: $darker-gray;
      }
    }
  }
}
