@import "../../../reset.scss";
.recommend-user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  .user-info {
    display: flex;
    .profile {
      width: 32px;
      height: 32px;
      img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
      }
    }
    .text-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
      .id {
        font-size: 14px;
        font-weight: 600;
      }
      .name {
        margin-top: 2px;
        color: $darker-gray;
        font-size: 13px;
      }
    }
  }
}
